{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<table class="table">
<thead>
    <tr>
        <td width="10px">ID</td>
        <td >Оборудование</td>
        <td width="250px">Тип </td>
    </tr>
    
</thead>
<tbody>
    <tr>
        <td>{{the_res1[0]}}</td>
        <td>{{the_res1[1]}}</td>
        <td>{{the_res1[2]}}</td>
    </tr>
    

</tbody>    
</table>
<form method='POST' action='/1_equip'>
    <p class="form_p">Добавьте цену оборудования:</p>
    <div class="div_float">
        <input  name='id_1_eq' type='hidden' value={{the_res1[0]}}>
        <input class='input_filtr' name='price' type='TEXT' value='' placeholder="Стоимость">
    </div>
    <div class="div_float">
        <input class='input_filtr' name='date' type='TEXT' value='' placeholder="Дата">
    </div>
    <div class="div_float">
        <input class='form_bottom' value='Добавить' type='SUBMIT'>
    </div>
    <div class="div_float">
        <input class='form_bottom' value='Очистить' type='Reset'>
    </div>
</form>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <td width="10px">ID price</td>
            <td width="10px">ID equip</td>
            <td width="20px">Стоимость</td>
            <td width="20px">Дата</td>
            <td width="20px">Текущая цена</td>
        </tr>
        
    </thead>
    <tbody>
        {% for s in the_res2 %}
        <tr>
            {%  for i in s %}
                <td>{{i}}</td>
            {% endfor %}
        </tr>
        {% endfor %}    
    </tbody>    
    </table>

{% endblock %}
