{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/add_eqip_form'>
<div class="div_form">
    <textarea class='input_filtr' name='name_equip' cols="100" rows="5" placeholder='Наименование оборудования' ></textarea>
</div>
<div class="div_form">
    <input class='input_filtr' name='type_equip' type='TEXT' value='' placeholder="Тип оборудования">
</div>
<div class="div_float">
    <input class='form_bottom' value='Добавить' type='SUBMIT'>
</div>
<div class="div_float">
    <input class='form_bottom' value='Очистить' type='Reset'>
</div>
    
</form>

{% endblock %}
