{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/add_eqip'>
<table>
<tr><td class="form_p">Наименование оборудования:</td>
    <td>
        <textarea class='textarea' name='name_equip' cols="100" rows="5" placeholder='Введите Наименование оборудования' ></textarea>>
    </td>
</tr>
<tr><td class="form_p">Тип оборудования:</td><td><input name='type_equip' type='TEXT' value=''></td></tr>
</table>
<p class="form_p">When you're ready, click this button:</p>
<p class="form_p"><input class='form_bottom' value='Do it!' type='SUBMIT'>   <input class='form_bottom' value='Clear form' type='Reset'></p>
</form>

{% endblock %}
