{% extends 'main.html' %}

{% block secondhead %}
<div class="div_nav2">
    {% if the_part2=='prj' %}
        <div class="select">
            <a class="a_nav" href="/list_prj_form">Список проектов</a>
        </div>
        {% else %}
            <div>
                <a class="a_nav" href="/list_prj_form">Список проектов</a>
            </div>
    {% endif %}
    {% if the_part2=='add' %}
        <div class="select">
            <a class="a_nav" href="/add_prj_form">Добавить</a>
        </div>
        {% else %}
            <div>
                <a class="a_nav" href="/add_prj_form">Добавить</a>
            </div>
    {% endif %}
    {% if the_part2=='del' %}
        <div class="select">
            <a class="a_nav" href="/del_prj_form">Удалить</a>
        </div>
        {% else %}
            <div>
                <a class="a_nav" href="/del_prj_form">Удалить</a>
            </div>
    {% endif %}
</div>
<div style="clear:both;"></div>
<div class="div_sep"></div>
{% block body %}

{% endblock body %}
{% endblock secondhead %}
