{% extends 'base.html' %}

{% block body %}

<form method='POST' action='/del_eqip_form'>
    <div class="div_float">
        <input class='input_filtr' name='ID_equip' type='TEXT' value='' placeholder="ID">
    </div>
    <div class="div_float">
        <input class='form_button' value='Удалить' type='SUBMIT'>
    </div>
    <div class="div_float">
        <input class='form_button' value='Очистить' type='Reset'>
    </div>
</form>
<div style="clear:both;"></div>
<table class="table">
    <thead>
        <tr>
            <td width="10px">ID</td>
            <td >Оборудование</td>
            <td width="250px">Тип</td>
        </tr>
    </thead>
    <tbody>
        {% for i in the_results %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>    
    </table>

{% endblock %}
