{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/del_eqip_form'>
<div>
    <span><input name='ID_equip' type='TEXT' value='' placeholder="ID"></span>
    <span><input class='form_bottom' value='Удалить' type='SUBMIT'></span>
    <span><input class='form_bottom' value='Очистить' type='Reset'></span>
</div>
<br>
</form>
<table class="table">
    <thead>
        <tr>
            <td width="30em">ID</td>
            <td width="100%">Оборудование</td>
            <td width="150em">Тип</td>
        </tr>
    </thead>
    <tbody>
        {% for i in the_results %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>    
    </table>

{% endblock %}
