{% extends "base.html" %}

{% block body %}

<form method="POST" action="/eqip_prices">
    
    <div class="div_float">
        <input class="input_filtr" name="search_id" type="TEXT" value="" placeholder="ID" size="3">
    </div>
    <div class="div_float">
        <input class="input_filtr" name="search_name_eq" type="TEXT" value="" placeholder="Наименование оборудования" size="40">
    </div>
    <div class="div_float">
        <input class="input_filtr" name="search_type_eq" type="TEXT" value="" placeholder="Тип" size="15">
    </div>
    <div class="div_float">
        <input class="form_button" name="bottom_find" value="Найти" type="SUBMIT">
    </div>
    <div class="div_float">
        <input class="form_button" name="bottom_clear" value="Сбросить" type="SUBMIT">
    </div>
</form>
<div style="clear:both;"></div>
<form method="POST" action="/1_equip">
<table class="table">
<thead>
    <tr>
        <td width=10px>ID</td>
        <td>Оборудование</td>
        <td>Тип</td>
        <td width=100px>Цена</td>
        <td width=100px>Дата</td>
        <td width=10px>V</td>
        <td width=95px> </td>
    </tr>
</thead>
<tbody>
    {% for i in the_results %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td align="right">{{i[4]}}</td>
            <td align="center">{{i[5]}}</td>
            <td>{{i[6]}}</td>
            <td>
                {% if the_id_calc %}
                    <button 
                            class="tb_button" formaction="/eqip_add_in_calc" 
                            name="eqip_add_in_calc" value={{i[0]}} 
                            type="SUBMIT">
                            Добавить оборудование
                    </button>
                {% else %}
                    <button class="tb_button" name="id_1_eq" value={{i[0]}} type="SUBMIT">Журнал цен</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>    
</table>
</form>

{% endblock %}
