{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<form method='POST' action='/eqip_prices'>
    <div class="div_float">
        <input class='input_filtr' name='search_id' type='TEXT' value='' placeholder="ID" size="3">
    </div>
    <div class="div_float">
        <input class='input_filtr' name='search_name_eq' type='TEXT' value="" placeholder="Наименование оборудования" size="50">
    </div>
    <div class="div_float">
        <input class='input_filtr' name='search_type_eq' type='TEXT' value="" placeholder="Тип">
    </div>
    <div class="div_float">
        <input class='form_bottom' value='Найти' type='SUBMIT'>
    </div>
    <div class="div_float">
        <input class='form_bottom' value='Очистить' type='Reset'>
    </div>
</form>
<br>
<br>
<form method='POST' action='/1_equip'>
<table class="table">
<thead>
    <tr>
        <td width=10px>ID</td>
        <td>Оборудование</td>
        <td>Тип</td>
        <td width=100px>Цена</td>
        <td width=100px>Дата</td>
        <td width=10px>V</td>
        <td width=95px> </td>
    </tr>
</thead>
<tbody>
    {% for i in the_results %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
            <td><button name='id_1_eq' value={{i[0]}} type='SUBMIT'>Журнал цен</button></td>
        </tr>
    {% endfor %}
</tbody>    
</table>
</form>

{% endblock %}
