<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/main.css" />
    </head>
    <body>
        <div class="div_nav1">
            <div class="div_float">
                <a class="a_nav" href="/eqip_prices">ОБОРУДОВАНИЕ</a>
            </div> 
            <div class="div_float">
                <a class="a_nav" href="/list_prj_form">ПРОЕКТЫ</a>
            </div>
            <div style="clear:both;"></div>
        </div>
        {% block secondhead %}

        {% endblock %}
    </body>
</html>
